.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  max-width: 382px;
  margin: 134px auto 48px auto;
  position: relative;
  z-index: 5;
}

@media (max-width:1024px) {
  .cover_subtitle {
    max-width: 1045px;
  }
}

@media (max-width:425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 65%;
    margin-top: 7px;
    margin-bottom: 24px;
  }
}

@media (max-width:320px) {
  .cover__subtitle {
    max-width: 90%;
  }
}