@import url('../video/__title/video__title.css');
@import url('../video/__subtitle/video__subtitle.css');
@import url('../video/__item-bg/video__item-bg.css');
@import url('../video/__icon/video__icon.css');
@import url('../video/__duration/video__duration.css');
@import url('../video/__description/video__description.css');


.video {
  text-decoration:none;
  color: white; 
  position: relative;
  width: 100%;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
  
.video:last-child {
  margin-right: 0px;
}

.video:after {   
  content: '';
  width: 100%;
  height: 99%;
  top: 0; 
  left: 0;
  position: absolute;
  z-index: 1;
  opacity:.5;
  background-color: rgba(0,0,0,.5);
}

.video:hover:after {  
  opacity: .8;
  transition: cubic-bezier(1, 0, 0, 1);
  display: block;
}

@media (max-width:1024px) {
  .video {
    max-width: 456px;
    height: 288px;
    margin-right: 16px;
  }
}

@media (max-width:768px) {
  .video {
    max-width: 352px;
    height: 200px;
  }
}

@media (max-width:768px) {
  .video {
    margin-right: 16px;
  }
}

@media (max-width:425px) {
  .video {
    max-width: 343px;
    margin: 0 auto 8px auto;
    min-height: 192px;
  }
}