.header__logo {
  margin: 30px auto 0 0;
}

@media (max-width:1280px) {
  .header__logo {
    margin: 30px auto 0 0;
  }
}

@media (max-width:768px) {
  .header__logo {
    margin: 30px auto 0 0  ;
  }
}

@media (max-width: 425px) {
  .header__logo {
    max-width: 142px;
    min-height: 42px;
    margin-left: 16px;
  }
}