.header__link {
  color: #fff;
  margin-top:47px;
  margin-right: 0;
  margin-left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;   
  text-decoration: none;
}

.header__link:hover {
  opacity: .9;
  transition: cubic-bezier(1, 0, 0, 1);
}

@media (max-width:425px) {
  .header__link {
    font-size: 18px;
    line-height: 17px;
  }
}
@media (max-width:1280px) {
  .header__link {
    margin-right: 48px;
  }
}

@media (max-width:768px) {
  .header__link {
    margin-right: 24px;
  }
}