.footer__copyright {
  margin-bottom: 48px;
    margin-right: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    display: flex;
}

@media (max-width:1024px) {
  .footer__copyright {
    margin-bottom: 29px;
  }
}

@media (max-width:768px) { 
  .footer__copyright {
    font-size: 1.8vw;
  }
}

@media (max-width:425px) { 
  .footer__copyright {
    order: 2;
    margin: 48px auto 24px 16px;
    text-align: left;
    font-size: 14px;
  }
}