.intro__list-text {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  list-style-type: none;
}

@media (max-width:425px) {
  .intro__list-text {
    font-size: 12px;
    line-height: 20px;
  }
}