.content-title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  text-align: center;
  max-width: 800px;
  margin: 102px auto 48px auto;
}

@media (max-width:1024px) {
  .content-title {
    max-width: 928px;
  }
}

@media (max-width:768px) {
  .content-title {
    max-width: 660px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width:425px) {
  .content-title {
    max-width: 90%;
    margin-top: 64px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}

